In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('/content/kidney.csv')

In [3]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.0,...,44.0,7800.0,5.2,1,2,0,0,0,0,1
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,121.0,...,38.0,6000.0,4.8,0,1,0,0,0,0,1
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,...,31.0,7500.0,4.8,0,2,0,1,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,32.0,6700.0,3.9,1,1,0,1,1,1,1
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,...,35.0,7300.0,4.6,0,1,0,0,0,0,1

In [4]:
df.sample(5)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
256,60.0,80.0,1.025,0.0,0.0,1,1,0,0,131.0,...,41.0,10700.0,5.1,0,1,0,0,0,0,0
87,70.0,100.0,1.005,1.0,0.0,1,0,1,0,169.0,...,32.0,5800.0,5.0,1,2,0,1,0,0,1
18,60.0,100.0,1.025,0.0,3.0,1,1,0,0,263.0,...,37.0,11400.0,4.3,1,2,1,0,0,0,1
255,34.0,80.0,1.025,0.0,0.0,1,1,0,0,121.0,...,52.0,9200.0,6.3,0,1,0,0,0,0,0
68,65.0,70.0,1.010,2.0,0.0,1,1,1,0,112.0,...,37.0,8000.0,4.8,0,1,0,0,0,0,1

In [5]:
df.shape

(400, 25)

In [6]:
df.corr()['classification']*100

age                22.784153
bp                 29.369284
sg                -65.950420
al                 53.156198
su                 29.455543
rbc               -28.264233
pc                -37.515429
pcc                26.531314
ba                 18.687064
bgr                37.932064
bu                 36.939257
sc                 29.124528
sod               -33.490005
pot                 6.521797
hemo              -72.636791
pcv               -67.312899
wc                 17.757096
rc                -56.616312
htn                59.043763
dm                 54.678580
cad                23.608834
appet              39.334080
pe                 37.515429
ane                32.539569
classification    100.000000
Name: classification, dtype: float64

In [7]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [8]:
# 'age',                         ####
# 'blood_pressure',              ####                 
# 'specific_gravity', 
# 'albumin',                     ####
# 'sugar',
# 'red_blood_cells', 
# 'pus_cell',                   ####
# 'pus_cell_clumps', 
# 'bacteria', 
# 'blood_glucose_random',      ####
# 'blood_urea', 
# 'serum_creatinine',           ####
# 'sodium',
# 'potassium', 
# 'haemoglobin',                ####
# 'packed_cell_volume', 
# 'white_blood_cell_count',     ####
# 'red_blood_cell_count',       ####
# 'hypertension', 
# 'diabetes_mellitus', 
# 'coronary_artery_disease', 
# 'appetite',
# 'peda_edema',
# 'aanemia',
# 'classification'

In [9]:
df.drop(columns=['sg', 'su', 'rbc', 'pcc', 'ba', 'bu',
        'sod', 'pot',  'pcv', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane'],inplace=True)

In [10]:
df

      age    bp   al  pc    bgr   sc  hemo      wc   rc  classification
0    48.0  80.0  1.0   1  121.0  1.2  15.4  7800.0  5.2               1
1     7.0  50.0  4.0   1  121.0  0.8  11.3  6000.0  4.8               1
2    62.0  80.0  2.0   1  423.0  1.8   9.6  7500.0  4.8               1
3    48.0  70.0  4.0   0  117.0  3.8  11.2  6700.0  3.9               1
4    51.0  80.0  2.0   1  106.0  1.4  11.6  7300.0  4.6               1
..    ...   ...  ...  ..    ...  ...   ...     ...  ...             ...
395  55.0  80.0  0.0   1  140.0  0.5  15.7  6700.0  4.9               0
396  42.0  70.0  0.0   1   75.0  1.2  16.5  7800.0  6.2               0
397  12.0  80.0  0.0   1  100.0  0.6  15.8  6600.0  5.4               0
398  17.0  60.0  0.0   1  114.0  1.0  14.2  7200.0  5.9               0
399  58.0  80.0  0.0   1  131.0  1.1  15.8  6800.0  6.1               0

[400 rows x 10 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    float64
 1   bp              400 non-null    float64
 2   al              400 non-null    float64
 3   pc              400 non-null    int64
 4   bgr             400 non-null    float64
 5   sc              400 non-null    float64
 6   hemo            400 non-null    float64
 7   wc              400 non-null    float64
 8   rc              400 non-null    float64
 9   classification  400 non-null    int64
dtypes: float64(8), int64(2)
memory usage: 31.4 KB

In [12]:
df.isnull().sum()

age               0
bp                0
al                0
pc                0
bgr               0
sc                0
hemo              0
wc                0
rc                0
classification    0
dtype: int64

In [13]:
df['classification'].unique()

array([1, 0])

In [14]:
df['classification']=df['classification'].replace("ckd\t","ckd")

In [15]:
df['classification'].unique()

array([1, 0])

In [16]:
df.sample(3)

      age    bp   al  pc   bgr   sc  hemo      wc   rc  classification
271  30.0  80.0  0.0   1  96.0  0.5  13.8  9000.0  4.5               0
285  66.0  70.0  0.0   1  94.0  0.7  16.0  5300.0  5.9               0
290  54.0  70.0  0.0   1  76.0  0.6  14.8  8400.0  5.9               0

In [17]:
df['classification']=df['classification'].replace(['ckd',"notckd"],[1,0])

In [18]:
df.sample(3)

     age     bp   al  pc    bgr    sc   hemo       wc   rc  classification
51  54.0  100.0  3.0   1  162.0   1.6  10.30   8000.0  4.8               1
48  73.0   70.0  0.0   1   70.0   0.9  10.00  18900.0  3.5               1
61  67.0   80.0  1.0   0  182.0  32.0  12.65   8000.0  4.8               1

In [19]:
df.sample(3)

      age    bp   al  pc    bgr   sc  hemo       wc   rc  classification
85   70.0  70.0  2.0   1  121.0  1.5   9.9   8000.0  4.8               1
108  45.0  80.0  0.0   0  107.0  1.0  11.8  10200.0  4.2               1
248  59.0  70.0  1.0   0  424.0  1.7  12.6  10200.0  4.1               1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    float64
 1   bp              400 non-null    float64
 2   al              400 non-null    float64
 3   pc              400 non-null    int64
 4   bgr             400 non-null    float64
 5   sc              400 non-null    float64
 6   hemo            400 non-null    float64
 7   wc              400 non-null    float64
 8   rc              400 non-null    float64
 9   classification  400 non-null    int64
dtypes: float64(8), int64(2)
memory usage: 31.4 KB

In [21]:
num_col=[col for col in df.columns if df[col].dtype!="object"]

for col in num_col:
    df[col]=df[col].fillna(df[col].median())

In [22]:
cat_col=[col for col in df.columns if df[col].dtype=="object"]

for col in cat_col:
    print(f" {col} most frequent value is {df[col].mode()}\n")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    float64
 1   bp              400 non-null    float64
 2   al              400 non-null    float64
 3   pc              400 non-null    int64
 4   bgr             400 non-null    float64
 5   sc              400 non-null    float64
 6   hemo            400 non-null    float64
 7   wc              400 non-null    float64
 8   rc              400 non-null    float64
 9   classification  400 non-null    int64
dtypes: float64(8), int64(2)
memory usage: 31.4 KB

In [24]:
df.isnull().sum().sum()

0

In [25]:
df['classification'].value_counts()

1    250
0    150
Name: classification, dtype: int64

In [26]:
df.corr()['classification']*100

age                22.784153
bp                 29.369284
al                 53.156198
pc                -37.515429
bgr                37.932064
sc                 29.124528
hemo              -72.636791
wc                 17.757096
rc                -56.616312
classification    100.000000
Name: classification, dtype: float64

In [27]:
x = df.drop(columns=['classification'])
y = df['classification']

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 10)

In [29]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((320, 9), (80, 9), (320,), (80,))

In [30]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [31]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [32]:
accuracy = model.score(X_test, y_test)
print("Accuracy: ", accuracy*100)

Accuracy:  98.75

In [33]:
y_pred = model.predict(X_test)
from sklearn.metrics import classification_report

print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        27
           1       1.00      0.98      0.99        53

    accuracy                           0.99        80
   macro avg       0.98      0.99      0.99        80
weighted avg       0.99      0.99      0.99        80

In [34]:
from xgboost import XGBClassifier

model_2 = XGBClassifier()

model_2.fit(X_train, y_train)
accuracy = model_2.score(X_test, y_test)
print("Accuracy: ", accuracy*100)

Accuracy:  98.75

In [35]:
y_pred = model_2.predict(X_test)
from sklearn.metrics import classification_report

print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        27
           1       1.00      0.98      0.99        53

    accuracy                           0.99        80
   macro avg       0.98      0.99      0.99        80
weighted avg       0.99      0.99      0.99        80

In [36]:
from sklearn import svm

model_3 = svm.SVC(kernel='linear')
#training the support vector Machine Classifier
model_3.fit(X_train,y_train)
accuracy = model_3.score(X_test, y_test)
print("Accuracy: ", accuracy*100)

Accuracy:  96.25

In [37]:
y_pred = model_3.predict(X_test)
from sklearn.metrics import classification_report

print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.93      0.96      0.95        27
           1       0.98      0.96      0.97        53

    accuracy                           0.96        80
   macro avg       0.95      0.96      0.96        80
weighted avg       0.96      0.96      0.96        80

In [38]:
df.to_csv('kidney.csv', index=False)

In [39]:
df.head(330)

      age    bp   al  pc    bgr   sc   hemo       wc   rc  classification
0    48.0  80.0  1.0   1  121.0  1.2  15.40   7800.0  5.2               1
1     7.0  50.0  4.0   1  121.0  0.8  11.30   6000.0  4.8               1
2    62.0  80.0  2.0   1  423.0  1.8   9.60   7500.0  4.8               1
3    48.0  70.0  4.0   0  117.0  3.8  11.20   6700.0  3.9               1
4    51.0  80.0  2.0   1  106.0  1.4  11.60   7300.0  4.6               1
..    ...   ...  ...  ..    ...  ...    ...      ...  ...             ...
325  58.0  80.0  0.0   1  100.0  1.2  14.00   6700.0  6.5               0
326  47.0  60.0  0.0   1  109.0  1.1  15.80   8300.0  5.2               0
327  30.0  60.0  0.0   1  120.0  0.8  13.40  10700.0  5.8               0
328  28.0  70.0  0.0   1  131.0  0.6  12.65   8600.0  6.5               0
329  33.0  60.0  0.0   1   80.0  0.9  14.10   7800.0  5.1               0

[330 rows x 10 columns]

In [40]:
df.sample(5)

      age    bp   al  pc    bgr    sc  hemo       wc   rc  classification
369  75.0  70.0  0.0   1  107.0   0.8  13.6  10300.0  4.8               0
7    24.0  80.0  2.0   0  410.0   1.1  12.4   6900.0  5.0               1
153  55.0  90.0  2.0   0  273.0  14.2   8.3  14600.0  2.9               1
15   40.0  80.0  3.0   1   76.0   9.6   7.6   3800.0  2.8               1
17   47.0  80.0  0.0   1  114.0   5.2  12.1   8000.0  4.8               1

In [41]:
input_data = (56.0,80.0,0.0,1,415.0,1.9,12.65,8000.0,4.8	)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person does not has Chronic KIdney Disease')
else:
  print('The person has Chronic KIdney Disease')

[1]
The person has Chronic KIdney Disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [42]:
import pickle

# Save the model to a file
with open('kidney.pkl', 'wb') as file:
    pickle.dump(model, file)

# Load the model from the file
with open('kidney.pkl', 'rb') as file:
    loaded_model = pickle.load(file)